# 图床 API Key    ImgUploader.py
# https://imgbb.com/ 图床
IMGBB_KEY=

# 钉钉appKey  appSecret, 主要是用于往钉钉群中发送文件 DingTalkSendFile.py
dd_appKey=
dd_appSecret=

# 往钉钉群中发送文件的目标群聊id DingTalkSendFile.py (获取方式见 DingTalkSendFile.py 文件头注释)
dd_chat_id=


# 以下钉钉表格和钉钉文档mcp
# 要存储的钉钉表格所在目录node_id
dingtalk_folder_node_id=

# 钉钉表格MCP配置(https://aihub.dingtalk.com/#/mcp-market/detail?mcpId=9704)
DINGTALK_TABLE_MCP_URL =

# 钉钉文档MCP配置(https://aihub.dingtalk.com/#/mcp-market/detail?mcpId=9629)
DINGTALK_DOC_MCP_URL=